/* Font Faces */
@font-face {
    font-family: potra, monospace, helvetica;
    src: url(fonts/potra.ttf);
 }

/* MAIN HTML SELECTORS */


html {
    height: 100%;
    width: 100%;
    top left: 0px;
    margin: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: lightblue url("images/bgimg.jpg") no-repeat fixed center;
    background-size: cover;
    height:100%;
    width: 100%;
    margin-bottom:50%;
    position: absolute;
    overflow: scroll;
    color: rgb(235, 235, 226);
}
h1 {
    color: seashell;
    font-family: potra, monospace, helvetica;
}
h2 {
    font-size: 3vh;
    vertical-align: middle;
}
h3 {
    font-size: 2.5vh;
    vertical-align: middle;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* p {
    margin: 0px 25% 0px 25%;
    text-align: justify;
    padding: 10px;
}
*/
footer {
    position: fixed;
    height: 5%;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-color: hsl(180, 43%, 70%) ;
    color: hsl(150, 55%, 90%);
    font-size: 2.5vh;
    padding: 10px 0px;
    overflow: hidden;
}
header {
    position: fixed;
    height: 5%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: hsl(180, 43%, 70%) ;
    padding: 5px 5px 5px 5px;
    color: hsl(150, 55%, 90%);
    font-size: 20px;
    vertical-align: center;
    overflow: hidden;
}
img {
    border-style:solid;
    border-color:rgb(27, 27, 22);
}


/* BUTTONS, LINKS, HOVER SELECTORS */


button {
    height: 25 px;
    font-size: 18px;
    width: 50%;
    background-color: white;
    border: solid 2px black;
    font-family: monospace;
}
button:hover {
    background-color: palevioletred;
}
a, a:visited, a:active {
    text-decoration: none;
    color: hsl(27, 40%, 61%);
}
a:hover {
    color: darkred;
}


/* ID SELECTORS */

#homeintro {
    height: 50%;
    width: 60%;
    background-color: rgb(136, 98, 75);
    opacity: 75%;
    border:rgb(27, 27, 22) solid 10px;
    border-radius: 2px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    overflow: scroll;
}
#hometext {
    background-color: whitesmoke;
    height: 100%;
    width: 120%;
    overflow: scroll;
    z-index: 1001;
    padding: 30px;
    justify-items: center;
    align-items: center;
    text-align: justify;
}

/* CLASS SELECTORS */
.bodycontainer {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}
.textcenter {
    float: left;
    width:33.3%;
    text-align:center;
}
.textleft{
    float: left;
    width:33.3%;
    text-align:left;
}
.textright{
    float: left;
    width:33.3%;
    text-align:right;
}
.floatleft {
    float: left;
    padding: 20px;
}

footer .textright {
    color: black;
}
footer a:hover {
    color: lightsalmon;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.list {
    background-color: hsl(150, 25%, 65%);
    border: 5px solid darkred;
    text-align: justify;
    padding: 0px 10px 10px 0px;
    overflow: hidden;
}
.list h2{
    color: hsl(150, 25%, 95%);
    font-family: cursive;
    font-size: 4em;
    text-align: center;
    line-height: 0em;
}
.list u:before {
    content: "..........";
    color: transparent;
}

.list u:after {
    content: "........";
    color: transparent;
}

.fullbleed {
    background-size: cover; background-position: center; background-attachment: fixed;
}
/*------------------------------
    JAVASCRIPT CLASS SELECTORS 
------------------------------*/

.numbergenerator {
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: fuchsia;
    padding: 10px;
    line-height: 75px;
    background-color: honeydew;
    border: solid 3px black;
    height: 75px;
    width: 75px;
    margin: auto;
}
.newdiv {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: deeppink;
    position: fixed;
    top: 75px;
    left: 50px;
    border-radius: 50%;
    color: ghostwhite;
    font-stretch: extra-condensed;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 5px 5px 5px black;
}
.buttonbox {
    width: 40%;
    margin: 0 auto;
    height: 60%;
    padding: 25px;
    text-align: center;
    background-color: floralwhite;
    border: solid 5px black;
    color: #000f0f;
    line-height: 30px;
    overflow: scroll;
}
.navtitle {
    font-family: 'Gravitas One', monospace;
}
/*-------------------------------------
    BOOTSTRAP CUSTOMIZATION SELECTORS
--------------------------------------*/
.navbar-light{
    background-color: rgb(235, 235, 226);
}
.navbar-brand{
    border: rgb(27, 27, 22) solid 3px;
    background-image: url("tblogo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-color: rgb(27, 27, 22);
}


/* -------------------
ANIMATION  COMPONENTS
---------------------- */


/* ANIMATION ID SELECTORS */
#floatingcathead {
    position: fixed;
    height: 150px;
    width: 150px;
    z-index:1000;
    background-color: transparent;
    border-style: none;
    animation-name: catheadspin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#floatingcathead img {
    height: 100%;
    width: auto;
    border-style: none;
}
/* ANIMATION CLASS SELECTORS */
.stars {
    width: 2px;
    height: 2px;
    top: 10%;
    left: 10%;
    border-radius: 50%;
    filter: blur(2px);
    background-color: lemonchiffon;
    position: fixed;
    z-index: 10000;
    animation-name: stars;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;  
}
.cats {
    width: 75%;
    height: auto;
    text-align: center;
}
/* ANIMATION KEYFRAMES */
@keyframes stars {
    0% {
        width: 2px;
        height: 2px;
    }
    100% {
        width: 7px;
        height: 7px;
    }
}
@keyframes catheadspin {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}